[submodule "debian-vm"]
	path = debian-vm
	url = https://github.com/box-cutter/debian-vm.git
[submodule "windows-vm"]
	path = windows-vm
	url = https://github.com/box-cutter/windows-vm.git
[submodule "osx-vm"]
	path = osx-vm
	url = https://github.com/box-cutter/osx-vm.git
[submodule "ubuntu-vm"]
	path = ubuntu-vm
	url = https://github.com/box-cutter/ubuntu-vm.git
